body {
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
  color: white;
}
.container {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
.main-container {
  box-shadow: 0 0 10px #ffffff;
  width: 90%;
}
.myImage {
  width: 100%;
}
.name {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 900;
}
.skill {
  color: wheat;
  margin-top: 0;
  margin-bottom: 0;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 0;
  background-color: white;
  text-decoration: none;
  color:black;
  margin-top: 1rem;
  border-radius: 10px;
}
.btn-colored {
  margin-left: 1rem;
  background-color: royalblue;
  color: white;
}
.info {
  text-align: left;
  margin-left: 1rem;
}
.info > h4 {
  margin-bottom: 0;
}
.info > p {
  font-size: 14px;
  margin-top: 5px;
}
.footer {
  padding: 15px 10px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;

}
.icon {
  background-color: grey;
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
